* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: auto;
  margin: 0 auto;
  background: rgb(167, 0, 255);
  background: linear-gradient(
    360deg,
    rgba(167, 0, 255, 1) 17%,
    rgba(0, 84, 255, 1) 89%
  );
  font-size: 1.2em;
}

#jeopardy {
  table-layout: fixed;
  margin: 0 auto;
  text-align: center;

  & td {
    height: 200px;
  }
}

td:hover {
  cursor: pointer;
  background-color: rgba(29, 29, 29, 0.563);
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-top: 50px;
  color: white;

  & h1 {
    position: relative;
    text-shadow: black 0 2px 2px;
  }

  & button {
    position: absolute;
    width: 120px;
    height: 48px;
    transform: translate(176px, 4px);
    border:none;
    outline: none;
    border-radius: 10px;
  }

  & button:hover {
    border: 2px solid black;
  }

  & button:focus {
    outline: none;
  }
}

#spin-container {
  display: flex;
  justify-content: center;
  margin-top: 15%;

  & .fa-spinner {
    font-size: 80px;
    color: white;
  }
}
